<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">
  <meta property="fb:app_id" content="159891950744662">
  <title>Insert title here</title>
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script src="//connect.facebook.net/en_US/all.js"></script>
  <script type="text/javascript" src="/js/main.js"></script>
</head>
<body>
<div id="fb-root"></div>
<a href="https://www.facebook.com/dialog/oauth?client_id=159891950744662&redirect_uri=http://doonts.lxc/vote/123/456" title="Войти через Facebook">Войти через Facebook</a>

<form action="/role/create">
    <input type="text" name="role_name"></input>
    <input type="text" name="advice"></input>
</form>
</body>
</html>