<!-- form_search -->
<div class="form_search">
    <ul id="as-selections-074" class="as-selections">
        <li id="as-original-074" class="as-original">
            <form action="/search">
                <div>
                    <%
                        if (typeof searchQuery == 'undefined') {
                            searchQuery ="";
                        }
                    %>
                    <input class="search_input" id="search_input" type="text" placeholder="jump to social role you want to explore..." value="<%= searchQuery %>" name="q" />
                    <input class="search_button" type="submit" name="" value="" /></div>
            </form>
        </li>
    </ul>
    <div class="bg_search">
        <p>Sample:</p>
        <a href="/search?q=project%20manager" class="sample_link">project manager</a> \
        <a href="/search?q=new%20parents" class="sample_link">new parents</a> \
        <a href="/search?q=snowboarder" class="sample_link">snowboarder</a> \
        <a href="/search?q=SEO%20expert" class="sample_link">SEO expert</a> \
        <a href="/search?q=student" class="sample_link">student</a> \
        <a href="/search?q=magento%20developer" class="sample_link">Magento developer</a> \
        <a href="/search?q=jogger" class="sample_link">jogger</a>
    </div>
</div>
<!-- end form_search -->