<!-- column_advices_search_sh -->
			<div class="column_advices_search_sh">

				<!-- column_advices_inside -->
				<div class="column_advices_inside">

					<div class="including">
						<p href="#">Including <a href="#">3 media advices</a></p>
					</div>

					<div class="fb_likes">
						<p href="#"><%= role.totalFacebookLikes %></p>
					</div>

					<div class="res_advices">
						<p href="#">4198 advices<p>
					</div>

					<div class="column_div">
						<a href="#" class="title_advices">@<%= role.name %></a>
					</div>

				</div>
			</div>
<!-- end column_advices_search_sh -->