<div class="win_addition">
    <img src="<%= amazonInfo.imgSrc %>" alt=""/>
    <!-- r_win_add -->
    <div class="r_win_add">
        <a target="_blank" href="<%= amazonInfo.url %>" class="title"><%= amazonInfo.title %></a>
        <span class="author"><%= amazonInfo.author %></span>
        <p></p>
    </div>
    <!-- end r_win_add -->
</div>