<div class="win_addition amazonPreview-<%= amazonInfo.asin %>">
<a class="link-win_addition" target="_blank" href="">
    <img src="/images/loading.gif" alt=""/>
    <span class="r_win_add">
        <span class="title-media"></span>
        <span class="info-media"></span>
    </span>
</a>

<script type="text/javascript">
    jQuery.getJSON("/advice/media/amazon/<%= adviceUID %>", function(data) {
        amazonPreviewCallback(data);
    });
</script>



