<div class="amazonPreview-<%= amazonASIN %>">
    <a class="title" href="#"></a>
    <img src="images/loading.gif" alt=""/>
    <span class="author"></span>
</div>
<script type="text/javascript" src="/advice/apac/<%= amazonASIN %>"></script>