<div class="win_addition">
    <a class="link-win_addition" target="_blank" href="<%= youtubeInfo.url %>">
        <img src="<%= youtubeInfo.imgSrc %>" alt="<%= youtubeInfo.title %>"/>
        <span class="r_win_add">
            <span class="title-media"><%= youtubeInfo.title %></span>
            <span class="info-media"></span>
        </span>
    </a>
</div>