<!-- win_addition -->
<div class="win_addition youtubePreview-<%= videoId %>">
    <img src="images/loading.gif" alt=""/>
    <!-- r_win_add -->
    <div class="r_win_add">
        <a target="_blank" href="#" class="title"></a>
        <p></p>
    </div>
    <!-- end r_win_add -->
</div>
<script type="text/javascript" src="http://gdata.youtube.com/feeds/api/videos/<%= videoId %>?v=2&alt=jsonc&callback=youtubeThumbnailCallback"></script>