<div class="youtubePreview-<%= videoId %>">
    <img src="images/youtube-loading.gif" alt=""/>
    <span class="title"></span>
    <span class="viewCount"></span>
</div>
<script type="text/javascript" src="http://gdata.youtube.com/feeds/api/videos/<%= videoId %>?v=2&alt=jsonc&callback=youtubeThumbnailCallback"></script>


