<!-- win_addition -->
<div class="win_addition">
    <img src="<%= youtubeInfo.imgSrc %>" alt=""/>
    <!-- r_win_add -->
    <div class="r_win_add">
        <a target="_blank" href="<%= youtubeInfo.url %>" class="title"><%= youtubeInfo.title %></a>
    </div>
    <!-- end r_win_add -->
</div>