	<!-- login_fb -->
				<div class="login_fb">
					<div class="exit_login"><a href="/myaccount/logout?redirectUri=<%= redirectUri %>" title="logout"></a></div>
					<p>Hello, <span class="username"><%= userName %>!</span> </p>
				</div>
				<!-- end login_fb   -->

				<!-- login_nav -->
				<div class="login_nav">
					<!-- <a class="account_login" href="#">My Account</a>
					<a class="favoriter" href="#">My Favorites</a> <span></span> -->
				</div>
	<!-- end login_nav   -->