        <!-- login_fb -->
        <div class="login_fb">
            <a href="/myaccount/login?redirectUri=<%= redirectUri %>"><img src="/images/fb.jpg" alt="" /></a>
        </div>
        <!-- end login_fb   -->
    </div>