<%- partial('main_header.ejs') %>
<% title = "Doonts.com : your social advisor"; %>
<% metadescription = "Find useful tips and advices for your social roles"; %>
<% canonicalURL = "/" %>


		<!-- advices -->
		<div class="advices">

			<div class="title_advices">
				<p class="title">TOP advices today:</p>
			</div>

        <% for(var i=0; i<=roles.length-1; i++) {%>
            <%- partial('home/roleline.ejs', {role: roles[i], index: i}) %>
        <% } %>

		</div>
		<!-- end advices -->

<%- partial('seo_roles_footer.ejs') %>
<%- partial('main_footer.ejs') %>