<!-- main-error -->
<div class="main-error">
	<!-- header -->
	<div class="header">		
	
		<!-- header_ins -->
		<div class="header_ins">
				
			<!-- menu_header -->
			<div class="menu_header">
			</div>
			<!-- end menu_header -->
					
			<!-- logo -->
			<div class="logo">
				<a class="slogan" href="/">global aggregator <span>of social experience</span></a>
				<a class="img" href="/"><img src="/images/logo.png" alt="" /></a>
			</div>
			<!-- end logo -->
	
		</div>
		<!-- end header_ins -->
		
	</div>
	<!-- end header  -->
	
	<!-- wrapper -->
	<div class="wrapper">		

		<!-- content -->
		<div class="content">
			<div class="circle"></div>
			<div class="text_error">
				<div class="right_text_error">
					<p>Oops...</p>
					<p><span>Server Error!</span></p>
					<span>The service you requested is not available yet.<br />
Please try again in 30 seconds.</span>
				</div>
			</div>
		</div>
		<!-- end contente -->	
			
	</div>
	<!-- end wrapper -->	
	<div class="h_footer"></div>
</div>
<!--end main-error -->
<%- partial('main_footer.ejs') %>