<!-- main -->
<div class="main">
    <!-- header -->
    <div class="header">

        <!-- header_ins -->
        <div class="header_ins">

            <!-- social -->
            <div class="social">
                <p>Social activity:</p>
                <a class="twitter_soc" target="_blank" href="https://twitter.com/#!/doonts"></a>
                <a class="fb_soc" target="_blank" href="https://www.facebook.com/Doonts"></a>
            </div>
            <!-- end social -->

            <!-- menu_header -->
            <div class="menu_header">
                <a href="/page/aboutus">About Us</a>
                <a href="/role/view/106/doonts-site-creators">Contacts Us</a>
            </div>
            <!-- end menu_header -->

            <!-- logo -->
            <div class="logo">
                <a class="slogan" href="/">your social advisor<span></span></a>
                <a class="img" href="/"><img src="/images/logo_beta.png" alt="" /></a>
            </div>
            <!-- end logo -->

        </div>
        <!-- end header_ins -->

    </div>
    <!-- end header  -->

    <!-- wrapper -->
    <div class="wrapper">

        <!-- top_wrapper_block -->
        <div class="top_wrapper_block">

        <div class="login"></div>

            <p>&nbsp;</p>
            <p class="title">Get social advice for:</p>

            <!-- people -->
            <div class="people"></div>
            <!-- end people -->
            <%- partial('search/form.ejs') %>
        </div>
	    <!-- end top_wrapper_block -->