</div>
<!-- end wrapper -->
<div class="h_footer"></div>
</div>
<!-- end main -->
<!-- footer -->
<div class="footer">

    <!-- footer_inside -->
    <div class="footer_inside">

        <div class="copy">
            <p class="copy">Copyright © 2012 Doonts</p>
            <a href="/page/eula">Privacy Policy</a>
            <ul>
                <li><a href="/page/aboutus">About Us</a></li>
                <li class="mail"><a href="/page/contactus">Contacts Us</a></li>
                <li><a href="#" class="email" target="_blank"></a></li>
            </ul>
            <p>Join us on social networks:</p>
            <a href="#">Tweeter </a>
            <a href="#">Facebook</a>
        </div>
        <div class="up">
            <a href="#"></a>
        </div>

    </div>
    <!-- end footer_inside -->

</div>
<!-- end footer -->

<!--  left_buttons -->
<div class="left_buttons">

    <!-- add_advice -->
    <div class="add_advice">
        <a href="#"></a>
    </div>
    <!-- end add_advice -->

    <!-- ask_advice -->
    <div class="ask_advice">
        <a href="#"></a>
        <div class="panel_ask">
            <div class="advice-content-fb">
                <img style="margin:0 auto; display:block;" src="images/img_fb.jpg" alt="" />
            </div>
            <div class="advice-content-tw"></div>
            <div class="advice-content-mail">
                <form action="">
                    <p>Ask for advice from your friends on:</p>
                    <a href="#">@Rainforest green-blue coloured barbarian chief</a>

                    <div class="advice-content-mail-form">
                        <p>Email your friend:</p>
                        <input class="input" type="text" name="name" />
                    </div>
                    <div class="add_mail">
                        <p><a href="#">Add Email</a></p>
                    </div>
                    <div><input class="button" type="submit" value="send"/></div>
                </form>
            </div>
            <a class="fb" href="#"><span>Ask to facebook</span></a>
            <a class="tw" href="#"><span>Ask on Twitter</span></a>
            <a class="mail" href="#"><span>Ask by e-mail</span></a>
        </div>
    </div>
    <!-- end ask_advice -->

</div>
<!-- end left_buttons -->


<!--  modal-background -->
<div class="modal-bg"></div>
<!-- end modal-background -->

