<!-- main -->
<div class="main">
    <!-- header -->
    <div class="header">

        <!-- header_ins -->
        <div class="header_ins">

            <!-- social -->
            <div class="social">
                <p>Social activity:</p>
                <a class="twitter_soc" href="#"></a>
                <a class="fb_soc" href="#"></a>
            </div>
            <!-- end social -->

            <!-- menu_header -->
            <div class="menu_header">
                <a href="/page/aboutus">About Us</a>
                <a href="/page/contactus">Contacts Us</a>
            </div>
            <!-- end menu_header -->

            <!-- logo -->
            <div class="logo">
                <a class="slogan" href="/">global aggregator <span>of social experience</span></a>
                <a class="img" href="/"><img src="/images/logo.png" alt="" /></a>
            </div>
            <!-- end logo -->

        </div>
        <!-- end header_ins -->

    </div>
    <!-- end header  -->

    <!-- wrapper -->
    <div class="wrapper">

        <!-- top_wrapper_block -->
        <div class="top_wrapper_block">

        <!-- login -->
        <div class="login"></div>
         <!-- end login  -->
         <div id="fb-root"></div>

            <p>This you will not find in books!</p>
            <p class="title">Get social advice for:</p>

            <!-- people -->
            <div class="people"></div>
            <!-- end people -->
            <%- partial('search/form.ejs') %>
        </div>
	    <!-- end top_wrapper_block -->