</div>
<!-- end wrapper -->
<div class="h_footer"></div>
</div>
<!-- end main -->
<!-- footer -->
<div class="footer">

    <!-- footer_inside -->
    <div class="footer_inside">

        <div class="copy">
            <p class="copy">All rights protected by Chuck Norris</p>
            <ul>
                <li><a href="/all-roles">All Doonts roles</a></li>
                <li><a href="/page/aboutus">About Us</a></li>
                <li class="mail"><a href="/role/view/106/doonts-site-creators">Contacts Us</a></li>
                <li><a href="#" class="email" target="_blank"></a></li>
            </ul>
            <p>Join us on social networks:</p>
            <a target="_blank" href="https://twitter.com/#!/doonts">Tweeter </a>
            <a target="_blank" href="https://www.facebook.com/Doonts">Facebook</a>
        </div>
        <div class="up">
            <a href="#"></a>
        </div>

    </div>
    <!-- end footer_inside -->

</div>
<!-- end footer -->

<% if (typeof rolePage != 'undefined') { %>
    <%- partial('role/leftbuttons.ejs') %>
<% } %>


<!--  modal-background -->
<div class="modal-bg"></div>
<!-- end modal-background -->

