<!-- form_search -->
<div class="form_search">
    <ul id="as-selections-074" class="as-selections">
        <li id="as-original-074" class="as-original">
            <form action="">
                <div>
                    <input class="search_input" id="as-input-010" type="text" placeholder="ask for advice here..." value="" name="q" />
                    <input class="search_button" type="submit" name="" value="" /></div>
            </form>
        </li>
    </ul>
    <div id="as-results-010" class="as-results" style="display:none;"></div>
    <div class="bg_search">
        <p>Sample:</p>
        <span class="sample_link">project manager</span> \
        <span class="sample_link">good mother</span> \
        <span class="sample_link">professional driver</span> \
        <span class="sample_link">SEO expert</span> \
        <span class="sample_link">resident of the Amazon forest etc...</span>
    </div>
</div>
<!-- end form_search -->
