<!-- form_search -->
<div class="form_search">
    <ul id="as-selections-074" class="as-selections">
        <li id="as-original-074" class="as-original">
            <form action="/search">
                <div>
                    <input class="search_input" id="search_input" type="text" placeholder="ask for advice here..." value="" name="q" />
                    <input class="search_button" type="submit" name="" value="" /></div>
            </form>
        </li>
    </ul>
    <div id="as-results-010" class="as-results" style="display:none;"></div>
    <div class="bg_search">
        <p>Sample:</p>
        <a href="/search/q=project%20manager" class="sample_link">project manager</a> \
        <a href="/search/q=good%20mother" class="sample_link">good mother</a> \
        <a href="/search/q=professional%20driver" class="sample_link">professional driver</a> \
        <a href="/search/q=SEO%20expert" class="sample_link">SEO expert</a> \
        <a href="/search/q=resident%20of%20the%20Amazon%20forest" class="sample_link">resident of the Amazon forest</a>
    </div>
</div>
<!-- end form_search -->