<div class="questions">
    <p class="title">top roles</p>
    <% for(var i=0; i<seoRoles.length; i++) {%>
            <a href="<%= seoRoles[i].href %>">@<%= seoRoles[i].capFirstName %></a>
    <% } %>
</div>