/* AutoSuggest CSS - Version 1.2 */
.as-results{
    position:absolute;
    z-index:4;
    zoom:1;
    top:52px;
    left:18px;
}
.as-list{
    width:645px;
    position:relative;
    z-index:5;
}
ul.as-selections {
    list-style-type: none;
    position:relative;
    z-index:10;
}

ul.as-selections.loading {
}

ul.as-selections li {
    float: left;
    margin: 1px 4px 1px 0;
}

ul.as-selections li.as-selection-item {
    color: #2b3840;
    font:13px "Lucida Grande", arial, sans-serif;
    text-shadow: 0 1px 1px #fff;
    background-color: #ddeefe;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ddeefe), to(#bfe0f1));
    border: 1px solid #acc3ec;
    border-top-color: #c0d9e9;
    padding: 2px 7px 2px 10px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    box-shadow: 0 1px 1px #e4edf2;
    -webkit-box-shadow: 0 1px 1px #e4edf2;
    -moz-box-shadow: 0 1px 1px #e4edf2;
    behavior:url(pie.htc);
}

ul.as-selections li.as-selection-item:last-child {
    margin-left: 30px;
}

ul.as-selections li.as-selection-item a.as-close {
    float: right;
    margin: 1px 0 0 7px;
    padding: 0 2px;
    cursor: pointer;
    color: #5491be;
    font:bold 14px "Helvetica", helvetica, arial, sans-serif;
    text-shadow: 0 1px 1px #fff;
    -webkit-transition: color .1s ease-in;
}

ul.as-selections li.as-selection-item.blur {
    color: #666666;
    background-color: #f4f4f4;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f4f4f4), to(#d5d5d5));
    border-color: #bbb;
    border-top-color: #ccc;
    box-shadow: 0 1px 1px #e9e9e9;
    -webkit-box-shadow: 0 1px 1px #e9e9e9;
    -moz-box-shadow: 0 1px 1px #e9e9e9;
    behavior:url(pie.htc);
}

ul.as-selections li.as-selection-item.blur a.as-close {
    color: #999;
}

ul.as-selections li:hover.as-selection-item {
    color: #2b3840;
    background-color: #bbd4f1;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#bbd4f1), to(#a3c2e5));
    border-color: #6da0e0;
    border-top-color: #8bb7ed;
}

ul.as-selections li:hover.as-selection-item a.as-close {
    color: #4d70b0;
}

ul.as-selections li.as-selection-item.selected {
    border-color: #1f30e4;
}

ul.as-selections li.as-selection-item a:hover.as-close {
    color: #1b3c65;
}

ul.as-selections li.as-selection-item a:active.as-close {
    color: #4d70b0;
}

ul.as-selections li.as-original {
    margin-left: 0;
}


ul.as-list {
    position: absolute;
    list-style-type: none;
    margin: 2px 0 0 0;
    padding:15px 0;
    color: #000;
    font:14px "Lucida Grande", arial, sans-serif;
    background:#fff;
    z-index:55;
    -webkit-box-shadow:0px 0px 6px rgba(0, 0, 0, 0.29);
    -moz-box-shadow:0px 3px 6px rgba(0, 0, 0, 0.29);
    box-shadow:0px 3px 6px rgba(0, 0, 0, 0.29);
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    behavior:url(pie.htc);
}

li.as-result-item, li.as-message{
    margin:0;
    padding:0 0 0 32px;
    cursor: pointer;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    behavior:url(pie.htc);
    clear:both;
}
li.as-result-item p, li.as-message p{
    color:#3594b8;
    font:22px/47px Helvetica, sans-serif;
    margin:0;
}
li.as-result-item span {
    float:right;
    text-align:right;
    margin:0 35px 0 0;
    color:#818489;
    padding:0;
    font:12px/47px tahoma, sans-serif;
}

li:first-child.as-result-item {
    margin: 0;
}

li.as-message {
    margin: 0;
    cursor: default;
}

li.as-result-item.active {
    background-color: #3668d9;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 64%, from(rgb(110, 129, 245)), to(rgb(62, 82, 242)));
    border-color: #3342e8;
    color: #fff;
    text-shadow: 0 1px 2px #122042;
}

/* Webkit Hacks  */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    ul.as-selections {
        border-top-width: 2px;
    }
    ul.as-selections li.as-selection-item {
        padding-top: 3px;
        padding-bottom: 3px;
    }
    ul.as-selections li.as-selection-item a.as-close {
        margin-top: -1px;
    }

}

/* Opera Hacks  */
@media all and (-webkit-min-device-pixel-ratio:10000), not all and (-webkit-min-device-pixel-ratio:0) {
    ul.as-list {
        border: 1px solid #888;
    }
    ul.as-selections li.as-selection-item a.as-close {
        margin-left: 4px;
        margin-top: 0;
    }
}

/* IE Hacks  */
ul.as-list {
    border: 1px solid #888\9;
}
ul.as-selections li.as-selection-item a.as-close {
    margin-left: 4px 9px;
    margin-top:0 9px;
}

/* Firefox 3.0 Hacks */
ul.as-list,  x:-moz-any-link, x:default {
    border: 1px solid #888;
}
BODY:first-of-type ul.as-list, x:-moz-any-link, x:default { /* Target FF 3.5+ */
    border: none;
}