<%- partial('main_header.ejs') %>
<% title = "About us"; %>
<% metadescription = "About us"; %>

		<!-- content -->
		<div class="content">
		    <h3>Coming soon... We are waiting for the text from Nicolas ;)</h3>
		</div>
		<!-- end content -->

<%- partial('seo_roles_footer.ejs')%>
<%- partial('main_footer.ejs') %>