<!-- banner -->
		<div class="banner">

			<!-- right_banner -->
			<div class="right_banner">
				<p class="title">Watch the presentation, how it works.</p>
				<a href="#"><img src="images/banner_img.jpg" alt="" /></a>
			</div>
			<!-- end right_banner -->

			<p class="title">ABOUT US</p>
			<p>Happens millions of times each week – a customer receives a drink from
				a Starbucks barista – but each interaction is unique. It’s just a moment in
				time – just one hand reaching over the counter to present a cup to
				another outstretched hand. But it’s a connection!
				<a href="#">read more</a>
			</p>
			<a class="close" href="#">Close</a>
		</div>
<!-- end banner -->