<%- partial('main_header.ejs') %>
<% title = "EULA"; %>
<% metadescription = "EULA"; %>

		<!-- content -->
		<div class="content">

				<h3>It happens millions of times each week – a customer receives a drink from a Starbucks barista – but each interaction is unique.  </h3>
				<a href="#"><img align="right" alt="" style="margin:0 0 0 30px;" src="/images/banner_img-01.jpg"></a>
				<p>It’s just a moment in time – just one hand reaching over the counter
					to present a cup to another outstretched hand. But it’s a connection.</p>
				<p>We make sure everything we do honors that connection – from our
					commitment to the highest quality coffee in the world, to the way
					we engage with our customers and communities to do business responsibly.</p>
				<p>From our beginnings as a single store over forty years ago,
					in every place that we’ve been, and every place that we touch,
					we've tried to make it a little better than we found it.</p>

				<p>Our company-wide diversity strategy focuses on four areas: partners, customers, suppliers and communities.</p>
				<ul>
					<li>Partners (our employees) - We seek out and engage partners who are as diverse as the communities we serve.</li>
					<li>Focusing on partner development by educating and engaging our partners.</li>
					<li>Focusing on partner development by educating and engaging our partners.</li>
					<li>Customers - We extend the Starbucks Experience to all customers, recognizing and responding to their
		 unique preferences and needs.</li>
					<li>Ensuring an exceptional customer experience by connecting with our customers in a culturally relevant way.</li>
					<li>Partners (our employees) - We seek out and engage partners who are as diverse as the communities we serve.</li>
					<li>Focusing on partner development by educating and engaging our partners.</li>
					<li>Focusing on partner development by educating and engaging our partners.</li>
					<li>Customers - We extend the Starbucks Experience to all customers, recognizing and responding to their
		 unique preferences and needs.</li>
					<li>Ensuring an exceptional customer experience by connecting with our customers in a culturally relevant way.</li>
				</ul>
				<p>From our beginnings as a single store over forty years ago,
					in every place that we’ve been, and every place that we touch,
					we've tried to make it a little better than we found it.</p>

		</div>
		<!-- end content -->

<%- partial('seo_roles_footer.ejs')%>
<%- partial('main_footer.ejs') %>